body{
    font-family: "Nunito", sans-serif;
    background-color: #141C32;
}

#logo{
    width: 141px;
    height: 83px;   
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#sociais{
width:20px;
height:20px;
border-radius: 5px;
}
ul{
    list-style: none;
}
ul li {
    display: inline-block;
}
ul li {
    padding: 30px;
    text-decoration: none;
    color: white;
}

#entre{
    color: white;
    text-decoration: none;
}
#entre a{
    list-style: none;
}